{% extends "layout.html" %}
{% block title %}
Перелік зареєстрованих користувачів
{% endblock %}

{% block content %}
      <h2>Перелік зареєстрованих користувачів</h2>
      {% for item in data %}
            <div>
                  <table cellpadding="2" cellspacing="2" border="2">
                        <tr style="height:40px; width:2100px; margin:0;">
                              <td style="height:40px; width:300px; margin:2;">{{ item.iduser }}</td>   
                              <td style="height:40px; width:300px; margin:2;">{{ item.firstname }}</td>
                              <td style="height:40px; width:300px; margin:2;">{{ item.lastname }}</td>
                              <td style="height:40px; width:300px; margin:2;">{{ item.login }}</td>
                              <td style="height:40px; width:300px; margin:2;">{{ item.email }}</td>
                              <td style="height:40px; width:300px; margin:2;">{{ item.phone }}</td>
                              <td style="height:40px; width:300px; margin:2;">{{ item.status }}</td>
                        </tr>      
                  </table>
            </div>
      {% endfor %}

{% endblock %}
